@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --green: #2f3c2f;
  --olive: #cedacc;
  --green_light: #93ad89;
  --aqua: #e9f2ee;
  --brown: #c9af8c;
  --pink: #f2e1e7;
  --white: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 em {
  font-family: "Cormorant Garamond", serif;
}

h1 {
  font-size: 80px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

h3 {
  font-size: 25px;
  font-weight: bold;
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  margin-bottom: 30px;
  /* padding: 0 2rem 0 0; */
  text-align: justify;
}

cite {
  color: rgb(142, 142, 142);
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 15px;
}

cite.blanco {
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 0;
  margin-bottom: 0;
}

body {
  background-color: #cedacc;
}

.abstract-content {
  background-color: #ffffff;
  padding: 90px 90px;
}

.background-green {
  background-color: var(--green);
  padding: 90px 90px;
}

.background-green h2 {
  color: #ffffff;
}

.background-green p {
  color: #ffffff;
}

.background-green img {
  padding: 0 0 2rem 0;
}

.background-white {
  background-color: var(--white);
  padding: 90px 90px;
}

.background-special {
  background-color: var(--green_light);
  padding: 90px 90px;
}

.background-white p,
.background-white h2 {
  color: black;
}

.background-white img {
  padding: 0 0 2rem 0;
}

.background-special p,
.background-special h3,
.background-special h2,
.background-special li {
  color: #ffffff;
}

.background-special li {
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
}

blockquote.resumen {
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  font-size: 28px;
  color: #c9af8c;
  padding: 2rem 0;
}

blockquote.resumen2 {
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  font-size: 22px;
  color: #c9af8c;
  padding: 2rem 0;
}

.intro {
  margin: 5rem 0;
}

.intro h1 {
  color: #2f3c2f;
  margin-bottom: 0px;
  margin-top: 0px;
}
.intro h2 {
  color: #2f3c2f;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 42px;
}

.intro h3 {
  color: #2f3c2f;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 25px;
}

.intro h4 {
  color: #2f3c2f;
  margin-top: 2rem;
  margin-bottom: 0px;
  font-weight: bold;
}

.btn {
  display: block;
  font-family: "Cormorant Garamond", serif;

  font-weight: bold;
  border-radius: 50px;
  margin: 10px;
  text-decoration: none;
  color: #ffffff;
  background-color: #26342651;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid #2f3c2f;
  color: #2f3c2f;
}

.back-top {
  position: fixed;
  bottom: 50px;
  right: 20px;
  font-family: "Cormorant Garamond", serif;
  font-weight: lighter;
  border-radius: 50px;
  margin: 30px;
  text-decoration: none;
  color: #ffffff;
  background-color: #2f3c2f51;
  padding: 1rem;
}

.back-top:hover {
  background-color: transparent;
  border: 2px solid #2f3c2f;
  color: #2f3c2f;
}

p.indentado {
  margin-left: 3rem;
  text-align: justify;
}

p.info {
  text-align: center;
  padding: 0;
  margin: 0;
}

.pieImagen cite {
  text-align: center;
  padding: 0;
  margin: 0;
}

.pieImagen2 cite {
  background-color: white;
  padding: 0;
  margin: 0;
}

/* Estilos Atlas */

/* #storygeneraldiv {
  box-sizing: border-box;
  margin: auto;
  max-width: 600px;
  font-family: "Courier New", Courier, monospace;
  background: white;
}

.storydiv {
  border: solid black 1px;
  width: 100%;
  display: flex;
  padding: 10px;
  flex-direction: column;
  box-sizing: border-box;
}

.storyp {
  font-size: 18px;
  min-height: 25px;
}

.storybutton-container {
  margin: auto;
}

.storybutton {
  background: white;
  box-shadow: none;
  border: solid 1px;
  margin: 0px 1em 0px 0px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}

.storybutton:hover {
  color: white;
  background: black;
}

.storyimage-container {
  box-sizing: content-box;
  position: relative;
  width: 100%;
  margin: auto;
}

.storyimage {
  justify-content: center;
  width: 100%;
  margin: auto;
  border-radius: 20px;
  display: block;
}

.storyimage-area {
  font-size: 14px;
  position: absolute;
  cursor: pointer;
  text-align: center;
  color: black;
  background: #ffffff00;
  border: solid 1px black;
}

.storyimage-area:hover {
  background: #ffffff33;
}

@media screen and (max-device-width: 500px) {
  #storygeneraldiv {
    max-width: 100%;
  }
  .storyp {
    font-size: 7vw;
  }
  .storybutton {
    font-size: 10vw;
  }
}
 */
